@page "/encrypt"

<PageTitle>Encrypt</PageTitle>

<div class="workspace">

    <SectionHeader Title="Encryption using GPG" Description="GnuPG allows you to encrypt and sign your data and communications." />

    <h2>Steps</h2>
    <ol>
        <li>
            Get my GPG public key from <a class="hyperlink" href="links/pgp" target="_blank">Keybase</a>
        </li>
        <li>
            Install the <a class="hyperlink" href="https://gnupg.org/" target="_blank">official GPG client</a>
        </li>
        <li>
            Import my key
        </li>
        <li>
            Encrypt your mesaage or verify incoming messages using my key
        </li>
    </ol>

</div>

@code {

}
