@page "/notice"

<PageTitle>Site notice</PageTitle>

<div class="workspace">
    <SectionHeader Title="Site notice" Description="Other important information may be provided upon request." />

    Alexander Gipp <br />
    alexander.gipp@protonmail.com <br />
    Germany
</div>
