@page "/contact"

<PageTitle>Contact</PageTitle>

<div class="workspace">
    <SectionHeader Title="Contact" Description="Various means to contact me." />

    <table>
        <thead>
            <tr>
                <th>Option</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a class="hyperlink" href="mailto:alexander.gipp@protonmail.com">Email</a></td>
                <td>alexander.gipp@protonmail.com</td>
            </tr>
            <tr>
                <td><a class="hyperlink" href="https://matrix.to/#/@@alexandergipp:matrix.org" target="_blank">Matrix</a></td>
                <td>alexandergipp:matrix.org</td>
            </tr>
        </tbody>
    </table>
</div>

@code {

}
