@page "/"

<PageTitle>Index</PageTitle>

<div class="workspace">
<pre>
    <span class="token-keyword">    new</span> <span class="token-class">Programmer</span>()
    {
        Name = <span class="token-literal">"Alex"</span>,
        FavoriteLanguage = <span class="token-enum">Language</span>.CSharp,
        Links = <span class="token-keyword">new</span> [] {
            <a href="/matrix" target="_blank" class="token-signature"><img src="../images/logo-matrix.webp" alt="Matrix.org logo" class="emoji" />Matrix DMs</a>,
            <a href="/github" target="_blank" class="token-signature"><img src="../images/logo-github.webp" alt="Github.com logo" class="emoji" />GitHub</a>,
            <a href="/email" target="_blank" class="token-signature"><img src="../images/logo-protonmail.webp" alt="Github.com logo" class="emoji" />Email</a>,
        }
    };</pre>
</div>



