@page "/notice"

<PageTitle>Site notice</PageTitle>

<div class="workspace">
    <SectionHeader Title="Site notice" Description="Important confidential information may be provided on request." />

    Alexander Gipp <br />
    alexander.gipp@protonmail.com <br />
    Germany
</div>

@code {

}
