
<div class="menu">
    <ul>
        <li>
            <NavLink href="">Home</NavLink>
        </li>
        <li>
            <NavLink href="encrypt">Encrypt</NavLink>
        </li>
        <li
            <NavLink href="contact">Contact</NavLink>
        </li>
    </ul>
</div>

@code {

}
