@page "/Navbar"

<div class="menu">
    <ul>
        <li>
            <NavLink href="">Home</NavLink>
        </li>
        <li>
            <NavLink href="encrypt">Encrypt</NavLink>
        </li>
        <li
            <NavLink href="example-page" target="_blank">Contact</NavLink>
        </li>
    </ul>
</div>

@code {

}
